[mysqld]
port=3307
datadir=/mnt/beegfs/mysql
pid-file=/root/bin/mysqld_3307.pid
socket=/root/bin/mysqld_3307.sock
general-log-file=/var/log/mysqld/general_3307.log
general-log=1
log-error=/var/log/mysqld/error_3307.log
slow-query-log=0
bind-address=0.0.0.0

# bypass password
# skip-grant-tables
